{% trans_default_domain 'tuna_admin' %}

<!DOCTYPE html>
<html lang="{{ app.request.defaultLocale }}">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% trans %}Tuna CMS{% endtrans %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% block stylesheets %}
        {% stylesheets output='bundles/thecodeineadmin/css/tuna_admin.css'
        '@TheCodeineAdminBundle/Resources/public/css/vendor/bootstrap.css'
        '@TheCodeineAdminBundle/Resources/public/css/vendor/font-awesome.css'
        '@TheCodeineAdminBundle/Resources/public/css/vendor/magic.css'
        '@TheCodeineAdminBundle/Resources/public/sass/admin.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets output='bundles/thecodeineadmin/css/wysiwyg-styles.css'
        '@TheCodeineAdminBundle/Resources/public/sass/wysiwyg-styles.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

<div class="container {{ block('main_class') }}">
    {% if is_granted('ROLE_ADMIN') %}
        <header class="header">
            {% block navigation %}
                {% include 'TheCodeineAdminBundle::_partials/_header.html.twig' %}
            {% endblock navigation %}
        </header>

        <aside class="aside aside-1">
            {{ knp_menu_render('menu.top') }}
        </aside>
    {% endif %}

    <section class="content">
        <div class="inside">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
            {{ block('content') }}
        </div>
    </section>
</div>

<div id="upload"></div>

{% include 'TheCodeineAdminBundle::_partials/_modal.html.twig' %}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
<script src="{{ url('bazinga_jstranslation_js', { domain: 'tuna_admin' }) }}?locales={{ app.request.defaultLocale }}"></script>
<script>
    var CKEDITOR_BASEPATH = '{{ asset('bundles/thecodeineeditor/js/vendor/ckeditor/') }}';
</script>

{% javascripts output='bundles/thecodeineadmin/js/tuna_admin.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery-2.0.3.min.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery-ui-1.11.4.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery.ui.touch-punch.min.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery.ui.timepicker.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery.ui.datepicker-pl.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery.ui.timepicker-en.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery.ui.timepicker-pl.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery.tagsinput.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery.hotkeys.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery.placeholder.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery.htmlClean.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery/jquery.mjs.nestedSortable.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/dropzone.min.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/jquery.dragbetter.min.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/underscore-1.6.0.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/backbone-1.1.2.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/flatUI/respond.min.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/flatUI/html5shiv.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/flatUI/flat-ui.js'
'@TheCodeineEditorBundle/Resources/public/js/vendor/ckeditor/ckeditor.js'
'@TheCodeineAdminBundle/Resources/public/js/vendor/cleanHtml.js'
'@TheCodeineAdminBundle/Resources/public/js/common.js'
'@TheCodeineFileBundle/Resources/public/js/app.js'
'@TheCodeineAdminBundle/Resources/public/js/views/*.js'
'@TheCodeineFileBundle/Resources/public/js/views/*.js'
'@TheCodeineEditorBundle/Resources/public/js/editor.js' %}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}

{{ block('extra_javascript') }}

<script type="text/javascript">
    (function () {
        tuna.website.init({
            lang: '{{ app.request.defaultLocale }}'.split(/[-_]/g)[0],
            editor: {
                config: "{{ tuna_getPath('editor_config') }}"
            }
        });
    })();
</script>
</body>
</html>
