{% extends 'TheCodeineAdminBundle::_admin_layout.html.twig' %}

{% block body_class %}container bg-lightgray{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/lexiktranslation/ng-table/ng-table.min.css') }}">

    {% stylesheets output='bundles/thecodeineadmin/css/tuna_admin.css'
    '@TheCodeineAdminBundle/Resources/public/css/vendor/bootstrap.css'
    '@TheCodeineAdminBundle/Resources/public/css/vendor/font-awesome.css'
    '@TheCodeineAdminBundle/Resources/public/css/vendor/magic.css'
    '@TheCodeineAdminBundle/Resources/public/sass/admin.scss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block extra_javascript %}
    <script src="{{ asset('bundles/thecodeineadmin/js/vendor/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/lexiktranslation/ng-table/ng-table.min.js') }}"></script>

    {{ block('javascript_footer') }}
{% endblock %}
