.header {
    background: $brand-secondary;
    padding: 0 20px;
    height: $headerHeight;
    max-height: 50px;

    .navbar-top-left {
        float: left;

        .logo {
            float: left;
        }

        .menu {
            float: left;
            display: block;

            @media all and (min-width: $desktopSmallScreen) {
                display: none;
            }

            ul li {
                display: inline-block;
                margin-left: 20px;

                a {
                    padding: 10px 0;
                    color: $link-color-inverse;
                    font-size: 18px;

                    &:hover, &:focus {
                        background: transparent;
                        color: $brand-primary;
                    }
                }
            }
        }
    }

    .navbar-top-right {
        float: right;

        .dropdown-arrow {
            border-color: transparent transparent $brand-primary transparent;
        }

        .dropdown-menu {
            z-index: 100000;
            background: $brand-primary;
            border-radius: 0;

            li > a {
                color: $link-hover-color;

                &:hover, &:active, &:focus {
                    background: $brand-primary;
                    color: $brand-tertiary;
                }
            }
        }

        button {
            background-color: transparent;
            color: lighten($brand-tertiary, 25%);
            padding-top: 14px;

            &.active, &:hover {
                background: transparent!important;
                color: $link-hover-color;
            }
        }
    }
}

