.login-page {
    .content {
        background: $brand-secondary;

        .login {
            background: transparent;
            padding: 100px 0;
            margin-bottom: 0;

            h2 {
                padding-bottom: 20px;
            }

            .dialog {
                padding: 0 0 20px 0;
            }

            .login-form {
                background: $brand-tertiary;
            }
        }
    }
}