{% extends layout %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ 'translations.add_translation'|trans({}, 'LexikTranslationBundle') }}</h3>
                <hr />
            </div>

            <div class="col-md-6">

                {{ form_start(form, {'action': path('lexik_translation_new'), 'method': 'POST', 'attr': {'class': 'form form-vertical'}}) }}

                <div class="form-group">
                    {{ form_label(form.key) }}
                    {{ form_widget(form.key, { 'attr': {'class': 'form-control'} }) }}
                    <span class="text-danger">{{ form_errors(form.key) }}</span>
                </div>

                <div class="form-group">
                    {{ form_label(form.domain) }}
                    {{ form_widget(form.domain, { 'attr': {'class': 'form-control'} }) }}
                    <span class="text-danger">{{ form_errors(form.domain) }}</span>
                </div>

                <div class="form-group">
                    {{ form_label(form.translations) }}
                </div>

                <div class="form-group">
                    {% for translation in form.translations %}
                        {{ form_label(translation) }}
                        {{ form_widget(translation.content, { 'attr': {'class': 'form-control'} }) }}
                        <span class="text-danger">{{ form_errors(translation.content) }}</span>
                        {{ form_widget(translation.locale) }}
                    {% endfor %}
                </div>

                <div class="form-group">
                    <a href="{{ path('lexik_translation_grid') }}" class="btn btn-secondary">
                        <span class="fa fa-arrow-left"></span>
                        {{ 'translations.back_to_list'|trans({}, 'LexikTranslationBundle') }}
                    </a>

                    <div class="btn-group pull-right">
                        {{ form_widget(form.save, { 'attr': {'id': 'trans-unit-submit', 'name': 'trans-unit-submit', 'class': 'btn btn-primary'} }) }}
                        {{ form_widget(form.save_add, { 'attr': {'id': 'trans-unit-submit-2', 'name': 'trans-unit-submit-2', 'class': 'btn btn-primary'} }) }}
                    </div>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}
