{% trans_default_domain 'tuna_admin' %}
{% extends 'TheCodeineAdminBundle::_layout.html.twig' %}

{% block content %}
    <h3 class="text-center">{% trans %}Panel{% endtrans %}</h3>
{% endblock content %}
