{% trans_default_domain 'tuna_admin' %}
{% extends app.request.isXmlHttpRequest ? 'TheCodeineAdminBundle::_embed.html.twig' : 'TheCodeineAdminBundle::_layout.html.twig' %}

{% block content %}
    {% embed 'TheCodeineAdminBundle::_partials/_form/_main.html.twig' with { title: 'Create page'|trans } %}
        {% block extraFields %}
            {% if form.menuParent is defined %}
                {{ form_row(form.menuParent) }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
