{% trans_default_domain 'tuna_admin' %}
{% embed 'TheCodeineAdminBundle::_base/list.html.twig' with {
canCreate: is_granted('create', 'pages'),
createPath: path('tuna_page_create')
} %}
    {% block list_table %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{% trans %}No.{% endtrans %}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'p.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Slug'|trans, 'p.slug') }}</th>
                <th class="center">{{ knp_pagination_sortable(pagination, 'Published'|trans, 'p.published') }}</th>
                <th class="center">{% trans %}Menu{% endtrans %}</th>
                <th class="text-right">{% trans %}Options{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr data-enabled="{{ item.published|round }}" class="{% if not item.published %}unpublished{% endif %}">
                    <td>{{ loop.index + offset }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.slug }}</td>
                    <td class="center">
                        <i class="fa fa-{{ item.published ? 'check' : 'times' }}-circle" aria-hidden="true"></i>
                    </td>
                    <td class="center">
                        {% if menuMap[item.id] is defined %}
                            <a href="{{ path('tuna_menu_edit', { id: menuMap[item.id].id }) }}">
                                <i class="fa fa-link"></i>
                            </a>
                            <a href="{{ tuna_menu_getLink(menuMap[item.id]) }}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('tuna_menu_create', { pageId: item.id }) }}">
                                <i class="fa fa-plus"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="options">
                        <a href="{{ path('tuna_page_edit', { id: item.id }) }}" class="fa fa-pencil-square-o" aria-hidden="true"></a>
                        {% if is_granted('delete', 'pages') %}
                            <a href="#" data-title="{{ item.title }}" data-url="{{ path('tuna_page_delete', { id: item.id }) }}" data-target="#modal-confirm" data-action="delete" class="fa fa-trash" aria-hidden="true"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}
