{% trans_default_domain 'tuna_admin' %}
{% extends 'TheCodeineAdminBundle::_layout.html.twig' %}

{% block content %}
    {% include 'TheCodeineAdminBundle::_partials/_form/_main.html.twig' with { title: 'Create category'|trans } %}
{% endblock %}
