* {
    outline: none;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: $brand-font-family;
    font-weight: 400;
    color: $brand-tertiary;
    background: $brand-secondary;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media all and (min-width: $mobileLargeScreen) {
        overflow: hidden;
    }
}

.container {
    max-width: 100%!important;
    width: 100%!important;
    height: 100%;
    padding: 0;

    &.bg-lightgray {
        .content {
            padding: 20px;
            background: $brand-tertiary;
            color: $link-color-inverse;

            @media all and (min-width: $desktopSmallScreen) {
                @include calc(height, "100% - 50px");
                padding: 60px;

                .inside {
                    padding-bottom: 20px;
                }
            }
        }
    }
}
.content {
    padding: 0;
    background: $brand-content;
    height: 100%;

    @media all and (min-width: $desktopSmallScreen) {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.admin-container {
    @media all and (min-width: $desktopSmallScreen) {
        .actions {
            display: none;
        }
    }

    & > form {
        overflow: hidden;
    }

    & > form, .translation-container {
        height: 100vh;

        .inside {
            overflow-x: hidden;
            overflow-y: auto;
            @include calc(height, "100% - #{$headerHeight}");

            .body {
                padding: 40px 60px 60px 60px;
            }
        }
    }
}

.aside {
    position: relative;
    z-index: 300;
    height: 100%;
    float: left;
}
