{% extends "TheCodeineAdminBundle::_layout.html.twig" %}

{% block main_class %}bg-lightgray{% endblock %}

{% block content %}
    {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock content %}
