{% trans_default_domain 'tuna_admin' %}

{% block tuna_addable_category_widget %}
    <div class="addable-entity-select">
        {{ form_widget(form.choice, { attr: { 'data-addable-entity-select': null }}) }}
        <div class="new-value">
            {{ form_errors(form.new_value) }}
            {{ form_widget(form.new_value.translations) }}
        </div>
    </div>
{% endblock %}

{%- block choice_widget -%}
    {% if expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
        {{- block('tuna_choice_widget_collapsed') -}}
    {% endif %}
{%- endblock choice_widget -%}

{%- block tuna_choice_widget_collapsed -%}
    {% set attr = attr|merge({ class: (attr.class|default ~ ' form-control select select-default select-block')|trim }) %}
    {{ block('choice_widget_collapsed') }}
{%- endblock -%}
