{% trans_default_domain 'tuna_admin' %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length %}
            <div class="dialog dialog-danger form-errors">
                <div class="form-errors-container">
                    <strong class="text-danger">{% trans %}Woops!{% endtrans %} </strong>
                    {% for error in errors %}
                        <span>{{ error.message }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
