{% trans_default_domain 'tuna_admin' %}

{% block video_player %}
    <iframe width="180" height="85" src="{{ video_url|default('__url__') }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endblock %}

{% block thecodeine_gallerybundle_gallery_widget %}
    {% import 'TheCodeineAdminBundle::_partials/_form/_theme.html.twig' as theme %}
    {% set wrapperId = form.vars.id ~ '_wrapper' %}
    {% set dropzoneOptions = {
    clickable: 'a[data-type=image]',
    selector: '.admin-gallery-container',
    acceptedFiles: '.png,.jpg,.gif,.jpeg',
    previewTemplate: theme.tuna_image_preview(tuna_uploadDir('tmp_path')~'/__path__'),
    previewsContainer: '#' ~ wrapperId ~ ' .gallery-items',
    dropoverText: 'Drop your gallery images here'|trans
    } %}
    <div
        id="{{ wrapperId }}"
        class="thecodeine_admin_gallery"
        data-prototype="{{ form_widget(form.items.vars.prototype)|e }}"
        data-items-id="{{ form.items.vars.id }}"
        data-dropzone-options="{{ dropzoneOptions|json_encode }}"
    >
        {% for type in form.vars.attr.types %}
            <a class="btn btn-border" data-type="{{ type }}" data-action="add-new-item">
                <i class="fa fa-plus" aria-hidden="true"></i> {{ type|capitalize|trans }}
            </a>
        {% endfor %}
        {{ form_errors(form) }}
        <ul class="gallery-items">
            {% for item in form.items %}
                {{ form_row(item, {label: true}) }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block thecodeine_gallerybundle_item_row %}
    {% spaceless %}
        <li class="item ui-state-default clearfix" id="{{ form.vars.id }}" data-item-number="{{ form.vars.name }}">
            <div class="gallery-table">
                <div class="table-row">
                    {{ form_widget(form.type) }}

                    {% if form.position is defined %}
                        {{ form_widget(form.position, {attr: {class: 'position'} }) }}
                    {% endif %}

                    {% if form.image is defined %}
                        {{ form_widget(form.image, {no_dropzone: true}) }}
                    {% endif %}

                    {% if form.video is defined %}
                        <div class="video-player">
                            {% set video = form.vars.value.video %}
                            {% if(video) %}
                                {% set video_url = video_url(video.type, video.videoId) %}
                                {{ block('video_player') }}
                            {% endif %}
                        </div>
                        <div>
                            <div class="video">
                                {{ form_widget(form.video, {attr: {class: 'form-control'}}) }}
                            </div>
                            <div class="item-name video">
                                {% if form.translations is defined %}
                                    {{ form_widget(form.translations, {label: false}) }}
                                {% endif %}
                            </div>
                        </div>
                    {% elseif form.image is defined %}
                        <div class="item-name">
                            {% if form.translations is defined %}
                                {{ form_widget(form.translations, {label: false}) }}
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if form.video is defined or form.image is defined %}
                        <div class="option handle">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>

                        <div class="option delete" data-action="delete">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                    {% endif %}
                </div>
                {% if not form.vars.valid %}
                    <div class="table-row">
                        {{ form_errors(form) }}
                        {% if form.image is defined %}{{ form_errors(form.image) }}{% endif %}
                        {% if form.video is defined %}{{ form_errors(form.video) }}{% endif %}
                    </div>
                {% endif %}
            </div>
        </li>
    {% endspaceless %}
{% endblock %}
