{% trans_default_domain 'tuna_admin' %}
{% embed 'TheCodeineAdminBundle::_base/list.html.twig' %}
    {% block content %}
        <div class="row admin-container edit-menu-tree" data-save-order-url="{{ path('tuna_menu_saveorder') }}">
            <div class="col-sm-12">
                {% for menu in menus %}
                    <div class="admin-list">
                        <div class="action-buttons">
                            <a href="{{ path('tuna_menu_create') }}" class="btn btn-primary btn-wide">
                                <i class="fui-plus"></i> {% trans %}Add item{% endtrans %}
                            </a>
                            <a href="#" data-action="save-order" class="btn btn-primary btn-wide inactive">
                                <i class="fa fa-save" aria-hidden="true"></i> {% trans %}Save order{% endtrans %}
                            </a>
                        </div>
                        <ul data-menu-tree>
                            {% include 'TheCodeineAdminBundle:Menu:menu_item.html.twig' with { item: menu } %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
{% endembed %}
