{% trans_default_domain 'tuna_admin' %}

{% set menuObject = item.__object %}
<li id="menu_{{ menuObject.id }}" class="{% if item.lvl == 0 %} root{% endif %}{% if not menuObject.published %} unpublished{% endif %}" data-id="{{ menuObject.id }}">
    {% if item.lvl == 0 %}
        <div class="title">{{ menuObject.label }}</div>
    {% else %}
        <div>
            <a href="{{ path('tuna_menu_edit', { id: menuObject.id }) }}">{{ menuObject.label }}</a>
            <span class="item-options">
                <a href="{{ path('tuna_menu_create', { parentId: menuObject.id }) }}">
                    <i class="fa fa-plus"></i>
                </a>
                <a href="{{ path('tuna_menu_edit', { id: menuObject.id }) }}">
                    <i class="fa fa-edit"></i>
                </a>
                {% if menuObject.page %}
                    <a href="{{ path('tuna_page_edit', { id: menuObject.page.id }) }}">
                    <i class="fa fa-link"></i>
                </a>
                {% endif %}
                {% if menuObject.clickable %}
                    <a href="{{ tuna_menu_getLink(menuObject) }}" target="_blank">
                    <i class="fa fa-external-link"></i>
                </a>
                {% endif %}
                <a data-url="{{ path('tuna_menu_delete', { id: menuObject.id }) }}" data-title="{{ menuObject.label }}" data-target="#modal-confirm" data-action="delete">
                    <i class="fa fa-trash"></i>
                </a>
            </span>
        </div>
    {% endif %}
    {% if item.__children|length %}
        <ul>
            {% for child in item.__children %}
                {% include 'TheCodeineAdminBundle:Menu:menu_item.html.twig' with { item: child } %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
