{% trans_default_domain 'tuna_admin' %}
{% extends 'TheCodeineAdminBundle::_layout.html.twig' %}

{% block main_class %}bg-lightgray{% endblock %}

{% block content %}
    {% if canCreate is not defined %}
        {% set canCreate = false %}
    {% endif %}
    {% if isEmpty is not defined %}
        {% set isEmpty = pagination|length == 0 %}
    {% endif %}

    {% if isEmpty %}
        <div class="admin-alert alert text-center">
            {% block list_empty %}
                <h3>{% trans %}Oops there is nothing here!{% endtrans %}</h3>
                {% if canCreate %}
                    <a href="{{ createPath }}" class="btn btn-primary btn-wide">
                        <i class="fui-plus"></i> {% trans %}Add first item{% endtrans %}
                    </a>
                {% endif %}
            {% endblock %}
        </div>
    {% else %}
        {% block not_empty_list %}
            <div class="row admin-container">
                <div class="col-sm-12">
                    <div class="admin-list">
                        {% block list_wrapper %}
                            {% if canCreate %}
                                <div class="action-buttons">
                                    {% block list_action_buttons %}
                                        <a href="{{ createPath }}" class="btn btn-primary btn-wide">
                                            <i class="fui-plus"></i> {% trans %}Add item{% endtrans %}
                                        </a>
                                    {% endblock %}
                                </div>
                            {% endif %}

                            {% block list_table %}{% endblock %}

                            {% block pagination %}
                                {% if pagination is defined %}
                                    {{ knp_pagination_render(pagination, 'TheCodeineAdminBundle::_partials/_pagination.html.twig') }}
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endif %}
    <div class="clear"></div>
{% endblock content %}
