{% trans_default_domain 'tuna_admin' %}
{% form_theme form 'TheCodeineAdminBundle::_partials/_form/_theme.html.twig' %}

{% block content %}
    <div class="admin-container">
        {{ form_errors(form) }}
        {{ form_start(form, { attr: { class: 'wysiwyg', novalidate: 'novalidate' } }) }}
        {{ form_widget(form._token) }}

        <aside class="aside aside-2">
            {% block form_options %}
                {% include 'TheCodeineAdminBundle::_partials/_form/_options.html.twig' with { extraFields: block('extraFields') } %}
            {% endblock %}
        </aside>

        <div class="inside">
            <div class="body">
                {% block form_body %}
                    {% include 'TheCodeineAdminBundle::_partials/_form/_translations.menu.html.twig' %}

                    <h3>
                        {% if title is defined %}
                            {{ title }}
                        {% endif %}
                        {% if slug is defined %}
                            <br>
                            <span>
                                {{ slug }}
                        </span>
                        {% endif %}
                    </h3>

                    {% include 'TheCodeineAdminBundle::_partials/_form/_content.html.twig' with { contentExtraFields: block('contentExtraFields') } %}
                {% endblock %}
            </div>
        </div>
        {{ form_end(form, { render_rest: true }) }}
    </div>
{% endblock content %}
