{% trans_default_domain 'tuna_admin' %}

{% set translations = translations|default(form.translations|default) %}

{% if translations %}
    <ul class="a2lix_translationsLocales nav nav-tabs">
        {% for translationsLocales in translations.children %}
            {% set isDefaultLocale = 'defaultLocale' == translationsLocales.vars.name %}

            {% for translationsFields in translationsLocales %}
                {% set locale = translationsFields.vars.name %}

                <li {% if app.request.locale == locale %}class="active"{% endif %}>
                    <a href="javascript:void(0)" data-toggle="tab" data-target=".a2lix_translationsFields-{{ locale }}">
                        {{ country_name(locale) }}
                    </a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
