{% trans_default_domain 'tuna_admin' %}
{% extends 'TheCodeineAdminBundle:Page:create.html.twig' %}

{% block content %}
    {% include 'TheCodeineAdminBundle::_partials/_form/_main.html.twig' with { title: "Create #{newsType}"|trans } %}
{% endblock %}
