{% trans_default_domain 'tuna_admin' %}
{% embed 'TheCodeineAdminBundle::_base/list.html.twig' with {
canCreate: true,
createPath: path('tuna_news_create', { newsType: newsType })
} %}
    {% block list_table %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{% trans %}No.{% endtrans %}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'p.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Create date'|trans, 'p.createdAt') }}</th>
                <th class="center">{{ knp_pagination_sortable(pagination, 'Published'|trans, 'p.published') }}</th>
                <th class="center">{{ knp_pagination_sortable(pagination, 'Featured'|trans, 'p.important') }}</th>
                <th class="text-right">{% trans %}Options{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr data-enabled="{{ item.published|round }}" class="{% if not item.published %}unpublished{% endif %}">
                    <td>{{ loop.index + offset }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.createdAt|date('d/m/Y H:m:s') }}</td>
                    <td class="center">
                        <i class="fa fa-{{ item.published ? 'check' : 'times' }}-circle" aria-hidden="true"></i>
                    </td>
                    <td class="center">
                        <i class="fa fa-{{ item.important ? 'check' : 'times' }}-circle" aria-hidden="true"></i>
                    </td>
                    <td class="options">
                        <a href="{{ path('tuna_news_edit', { id: item.id }) }}" class="fa fa-pencil-square-o"></a>
                        <a href="#" data-title="{{ item.title }}" data-url="{{ path('tuna_news_delete', { id: item.id }) }}" data-target="#modal-confirm" data-action="delete" class="fa fa-trash"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}
